@use 'variables';

// h2 {
//   color: variables.$primary-color;
//   @include variables.container;
//   @include variables.test(10px)
// }

@mixin button_primary {
  outline: none;
  border-radius: 4px;
  background-color: #025584;
  color: #FFF;

  font-family: 'Open Sans';
  font-weight: 600;

  cursor: pointer;
}

.button_primary_large {
  @include button_primary();

  font-size: 16px;
  line-height: 24px;
  min-width: 229px;
  height: 56px;

  &:hover {
    height: 56px;
    outline: none;
    border-radius: 4px;
    background-color: #013B6B
  }

  &:active {
    height: 56px;
    outline: none;
    border-radius: 4px;
    background-color: #013B6B
  }

  &:disabled {
    background: #ccc;
  }
}

.button_primary_large_light_primary4 {
  @include button_primary();

  display: flex;
  justify-content: space-around;
  align-items: center;
  
  font-size: 16px;
  line-height: 24px;
  min-width: 229px;
  height: 56px;
}

.c-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-container::before {
  embed {
    position: absolute;
    color: #fff
  }

}

.button_primary_medium {
  @include button_primary();

  font-size: 16px;
  line-height: 24px;
  min-width: 250px;
  height: 48px;
}

.button_primary_small {
  @include button_primary();

  font-size: 14px;
  line-height: 20px;
  min-width: 216px;
  height: 36px;
}
